* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    position: relative;
    background-size: cover;
    background-image: url(planet.jpg);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li {
    list-style: none;
    padding: 2rem 4rem;
    font-size: 1.5rem;
}

li > a {
    color: white;
    text-decoration: none;
}

section {
    height: 30rem;
    width: 30rem;
    border: 0.2rem solid rgba(0, 0, 0, 0.384);
    border-radius: 2rem;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.068);
}

article {
    height: 5rem;
    width: 25rem; 
    margin: auto;
    margin-top: 3rem;
    background-color: #D9D9D9;
}

article > p {
    text-align: center;
    font-size: 2rem;
    padding-top: ;
}